<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="Debug" xsi:type="File" fileName="logs\Debug\${shortdate}.txt" />
    <target name="Error" xsi:type="File" fileName="logs\Error\${shortdate}.txt" />
    <target name="quartzFile" xsi:type="File" fileName="quartz.log" layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />
  </targets>

  <rules>
    <logger name="Quartz" minlevel="Off" writeTo="quartzFile" />
    <logger name="*" minlevel="Debug" writeTo="Debug" />
    <logger name="*" minlevel="Error" writeTo="Error" />
  </rules>
</nlog>